body {
  background-color: rgb(255, 248, 237);
}
.main {
  padding-top: 2%;
  padding-left: 10%;
  font: arial;
  display: inline-flex;
}
.card-img-top {
  height: 50%;
}
.card {
  width: 18rem;
}